.card{
    /* font-family:  Courier, monospace; */
    font-size: 1.2rem;
    font-family: "sans-serif", Inter;
    color: black;
}
.btn {
    /* font-family: "Helvetica"; */
    font: Helvetica, Arial;
    color: black;
    border: solid;
    border-color: rgb(43, 102, 192);
    cursor: pointer;
    border-radius: 10px;

}
.btn:hover {
    transform: translateY(-5px);
    background: rgb(43, 102, 192);
    color: white;
    cursor: pointer;
}
